/* Fonts */
/* General */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
/* Navbar */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400');

.App {
  padding-top: 5rem;
  min-height: 100vh;
  font-family: Titillium !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
}

.AppWindow {
  margin-left: 5rem;
  margin-right: 5rem;
}

nav.bg-red {
  background-color: rgb(179, 0, 0) !important;
}

.nav-link {
  color: rgba(255, 255, 255) !important;
  font-size: 20px !important;
}

.nav-link:hover {
  color: rgb(4, 0, 255) !important;
}

.cardStyle {
  margin: 1rem;
  padding: 0px;
}

.cardImage {
  width: 65% !important;
  margin: auto !important;
}

.cardName {
  font-weight: 600 !important;
  font-family: Raleway !important;
}