/* Fonts */
/* General */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');
/* Navbar */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:200,400');

.App {
  padding-top: 5rem;
  min-height: 100vh;
  font-family: Titillium !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-color: #fafafa;
}

.AppWindow {
  margin-left: 5rem;
  margin-right: 5rem;
}

nav.bg-red {
  background-color: rgb(179, 0, 0) !important;
}

.nav-link {
  color: rgba(255, 255, 255) !important;
  font-size: 20px !important;
}

.nav-link:hover {
  color: rgb(4, 0, 255) !important;
}

.cardStyle {
  margin: 1rem;
  padding: 0px;
  opacity: 0.95;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  -moz-user-select: none;
  -website-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  text-decoration: none;
  color: black;
  background-color: #fafafa;
}

.noMatchStyle {
  margin: 1rem;
  padding: 0px;
  opacity: 0.95;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.cardStyle:hover{
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  color: black;
  opacity: 1;
}

.cardImage {
  width: 65% !important;
  margin: auto !important;
}

.cardName {
  font-weight: 600 !important;
  font-family: Raleway !important;
}